@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --background-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #007bff;
  --secondary-color: #ffcc00;
  --item-background-color: #fff;
  --item-text-color: #333;
  --item-hover-background-color: #f9f9f9;
  --item-hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  --toggle-background: #333;
  --toggle-text: "Light";
}

body.dark-theme {
  --background-color: #252120;
  --text-color: #d1fad7;
  --primary-color: #ff00ea; /* Adjusted to use vibrant color */
  --secondary-color: #00ff33;
  --item-background-color: #1e293b;
  --item-text-color: #fff;
  --item-hover-background-color: #333;
  --item-hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  --toggle-background: #ffcc00;
  --toggle-text: "Dark";
  background: linear-gradient(
    -30deg,
    #1f1a18 0px,
    /* Darkened primary background */ #38342c 100%
      /* Lightened primary background */
  );
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden; /* Disable scrolling */
}

h1 {
  color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
  border-radius: 10px;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between; /* Align filters and items on opposite sides */
  align-items: flex-start;
  height: 100vh;
  padding: 1rem 1rem;
  column-gap: 7em;
  overflow: hidden; /* Disable scrolling */
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align filters to the right */
  gap: 1em;
  margin-bottom: 1em;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 15em;
  text-align: center;
  position: relative;
}

.filter label {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.filters-container input,
.filters-container select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter input {
  position: relative;
  padding-right: 30px;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #ccc;
}

.clear-button:hover {
  color: #ff0000;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left */
  gap: 20px;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;

      display: flex
;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    gap: 20px;
    /* padding: 20px; */
    /* max-height: fit-content; */
    overflow-y: auto;
    margin-bottom: 2em;
}

.item {
  /* background-color: var(--item-background-color); */
  color: var(--item-text-color);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 0 1 calc(50% - 40px);
  max-width: 250px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: var(--item-hover-shadow);
}

.item p {
  margin: 10px 0;
}

.items-container h1 {
  grid-column: span 3;
}

.category {
  color: var(--text-color);
  font-size: 10px;
}

.active {
  background-color: var(--text-color);
  color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  color: var(--primary-color);
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-background);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: var(--toggle-text);
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--background-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--toggle-background);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.header-container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  width: -webkit-fill-available; /* Create space between the title and the theme btns */
}

.header-title {
  font-size: 1rem; /* Set the size of the Projects Filter title */
  margin: 0;
}

.theme-toggle-container {
  display: flex;
  gap: 10px; /* Space between the buttons */
}

/* Media queries for mobile screens */
@media screen and (max-width: 768px) {
  .container {
    height: auto;
  }

  h1 {
    font-size: 18px;
    padding: 0.3em;
  }

  .filters-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .filter {
    width: 100%;
    max-width: 300px;
  }

  .items-container {
    gap: 15px;
    padding: 10px;
  }

  .item {
    flex: 0 1 calc(100% - 20px);
    max-width: 100%;
  }
}
